---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  color: crimson;
  
}

h3 {
  text-decoration: underline;
  font-style: italic;
  font-size: 1.25em;
  color: darkblue
}
