---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  color: red;
  
}

h3 {
  text-decoration: underline;
  font-style: italic;
  font-size: 1.25em;
  color: chartreuse;
  text-align: center;
}

.post-header {
  font-family: "Black Ops One", system-ui;
  background-color: white;
}

.post-content {
  font-family: "Special Elite", system-ui;
  background-color: black;
  margin: 20px;
  padding: 20px;
  border-style:double;
  border-color: darkgray;
  border-width: 10px;
}
